/* b_smartphone.css */

@media all and (max-width:767px) {
/* 기준 디바이스 크기 : 320px */
#wrap {min-width:320px; min-height:100vh;}

/* header */
header {height:60px; }
.header_inner {padding: 0 10px;}
.header_inner .logo {position:absolute; display: block; width: 104.4px; height: 60px; z-index:100;}
.header_inner .header_util_box {width: 135px;}

#gnb {
  right:-100%; padding-top:60px; height: auto; background-color: #fff;
  transition:all 300ms ease;
}
#gnb.show {right:0;}
.header_gnb_menu {width: 100%;}
.header_gnb_menu > li {width: 100%; text-transform:capitalize;}
.header_gnb_menu > li > a {padding: 0 25px; height:55px; line-height:55px; color:#222}
.mobile_more_icon {display:block; float:right;}

.header_gnb_menu > li > .gnb_2dep {
  display:none;
  position:static; height: auto; background-color: #f5f5f5;}
.header_gnb_menu > li > .gnb_2dep  > ul {padding:0}
.gnb_2dep li a {line-height:20px; text-align: left; padding:15px 30px;  color:#222; font-size: 13px;}

/* mainContainer */
.mainContainer {padding-bottom:50px;}

#mainVisual {height:100vh; min-height: 445px; }
.visual_slider_btn {left:0; bottom:0; width: 100%; height: 50px; padding:0 20px; box-sizing: border-box;}
.visual_slider_btn button {width: 50px; height: 50px; border-radius:50px; }
.visual_slider_btn button i {font-size: 16px;}

.visual_slider {height: 100%;}
.visual_slide_li .visual_txt_area {margin-top:-100px;}
.visual_txt_area .visual_txt_inner {padding:0 15px; text-align: center;}
.visual_txt1 {margin-bottom:10px; font-size: 10px;}
.visual_txt2 {font-size: 42px;line-height:1;}
.more_view_btn {display:none}
.visual_slide_li:first-child .visual_img {background : url('../../images/main/main_visual/main_visual_01_m.jpg') no-repeat; background-size: cover;}
.visual_slide_li:nth-child(2) .visual_img {background : url('../../images/main/main_visual/main_visual_02_m.jpg') no-repeat; background-size: cover;}
    

  /* mainContent1 */
  #mainContent1 {height: auto; padding-top:50px;}
  .main_company_con {display:none;}
  .m_main_company_con {display: block;}

  /* mainContent2 */
  #mainContent2 {height: auto; padding-top:60px;}
  .main_tit {font-size: 23px;}
  .main_sub_tit {height: auto; font-weight: 400; font-size: 12px;}
  .process_line {top:21%; margin-top:-1px;}
  .process_m_line {display: block;}

  .process_list li {width:25%; height:100px;}
  .process_list li:nth-child(4)~* {margin-top: 40px;}
  .process_list li .icon {display: inline-block; text-align: center;}
  .process_list li .icon img {display: inline-block; height: 25px;}
  .process_list li .dot {width: 6px; height: 6px; border-radius:6px;}
  .process_list li strong {font-size: 12px;}
  .process_list li strong em {margin-bottom:10px; font-size: 11px;}

  .process_list .active .icon {margin-top:-10px;}
  .process_list .active .dot:before,
  .process_list .active .dot::before {width: 9px; height: 9px; border-radius: 9px;}

  /* mainContent3 */
  #mainContent3 {padding-top:60px;} 
  .main_develop_tit {width: 100%; padding-left:15px; margin-bottom:15px; font-size: 15px;}
  .main_develop_con {width: 100%; height:400px; background-color: var(--background);}
  .main_develop_wrapper {width: 100%;}
  .main_develop_button {display: none;}
  .develop_slider {left:0; transform: unset;}
  .develop_slide {width: calc(100% / 3); margin:0}
  
  .main_develop_txt {position:relative; top:0; left:0; width:100%; padding-left:0;  margin:0}
  .main_develop_txt_inner .txt_group {float:left; width: 65%; padding-left:7%;}
  .main_develop_txt li {
    width: 100%; padding:20px 15px 0; box-sizing: border-box; background-color: var(--background); }
  .main_develop_txt .develop_prd_img {float:left; position:static; width: 28%;text-align: center;}
  .main_develop_txt .develop_prd_img img {display:inline-block; max-width:80px;}
  .main_develop_li_01 .txt_01 {font-size: 45px; padding-right:0;}
  .main_develop_li_01 .develop_prd_img img {max-width:120px;}
  .main_develop_txt .main_develop_li_02 {padding-top:40px}
  .main_develop_li_01 .main_develop_txt_inner,
  .main_develop_li_02 .main_develop_txt_inner {padding:0;}
  .main_develop_txt_inner .txt_02 {padding-top:10px; font-size: 12px; word-break: keep-all;}
  .main_develop_txt_inner .txt_02 br {display: none;}
  .main_develop_li_03 .txt_01 {font-size: 55px; text-align: center;}
  .main_develop_li_03 .main_develop_txt_inner {padding-top:0;}
  .m_br {display: inline;}
  .develop_more_btn {display: none;}

   /* mainContent4 */
  #mainContent4 {margin-top:-10px; padding-top:200px;}

  .consult_div {width: 100%; padding:0 15px; box-sizing: border-box;}
  .main_contact_tit {font-size: 20px;}
  .main_contact_inner div {float:none; width: 100%; height:auto;}
  .main_contact_inner .info li {height: 30px;}
  .information label {width: 80px; line-height:30px}
  .information label span {font-size: 13px;}
  .information input,
  .information select {width: 200px; height:30px; font-size: 13px; line-height:30px;}
  .information input::placeholder {font-size: 13px;}
  .main_contact_inner .info .contact_privacy_con {position:static; padding:0; margin-top:15px; height:auto;}
  .contact_check_btn label {font-size: 13px;}
  .contact_privacy_ex {display:none}
  .main_contact_inner .qna {margin-top:15px; margin-left:0; height:auto;}
  .qna .tit {font-size: 13px; line-height:30px; padding:0;}
  #qna_content {padding:15px; height: 130px; font-size: 13px; }
  #qna_content::placeholder {font-size: 13px;}
  .contact_btn {position:static; margin-top:15px; height: 45px; font-size: 13px;}


  /* footer */
    .footer_inner {padding:0 15px; padding-bottom:30px;}
  
    .to_top_btn {display:none}
  
    .footer_top {width: 100%;}
    .footer_top li a {font-size: 12px; letter-spacing: -0.25px;}
  
    .footer_bottom {height: auto}
    .footer_bottom .tit {margin-bottom:15px;}
    .footer_information {width: 50%;}
    .footer_information ul li {font-size: 11px;}
    .footer_information ul li span {width:60px; padding-right:0;}
    .footer_contact {width: 50%;}
    .footer_contact ul li {font-size: 11px;}
    .footer_contact ul li span {padding-right:0;}
    .footer_location {width: 100%; margin-top:30px}
    .footer_location ul li {font-size: 11px;}
    .footer_location ul li span {display:block; width:100%; padding-right:0; margin-bottom: 5px;}
  
    .footer_copyright p {font-size: 11px;}
} /* @media all and (max-width:767px) */