/* d_laptop.css */

@media all and (min-width:1024px) and (max-width:1439px) {
  /* 기준 디바이스 크기 : 1024px */
  #wrap {min-width:1024px; min-height:100vh;}

  .header_gnb_menu {width: 600px;}
  .header_gnb_menu > li > a {padding:0 20px;}

  /* main_company_con */
  /* mainContent1_left */
  .company_inner .txt_con .middle_line {margin:15px 0}
  .mainCon1_left {width: 40%;}
  .company_inner .txt_con {padding:45px;}
  .company_inner .txt_con p>br{display: none;}
  .mainCon1_left .company_inner .txt_con .middle_line {margin:15px 0;}

  /* mainContent1_right */
  .mainCon1_right {width: 60%;}
  .up_con div {width: 100%;}
  .mainCon1_right .company_inner {width: 100%; height: 175px;}
  .up_con1 .company_inner {width: 100%;}
  .company_inner .txt_con li {float:left; width: 50%;}

  .down_con div {float:right; width: 100%;}
  .down_con1 .company_inner {width: 100%; height: 175px;}
  .down_con1 .company_inner .txt_con {padding:20px 45px;}
  .down_con1 .company_inner .txt_con li {font-size: 15px; line-height:1.6;}
  .down_con2 .company_inner {width: 100%; height: 175px;}

  /* mainContent1 transition */
  #mainContent1 .main_company_con .m_move_down {opacity: 0; transform: translateY(-50px); transition: transform 500ms ease, opacity 500ms ease;}

  #mainContent1 .main_company_con .m_move_down_02 {transition-delay: 300ms;}
  #mainContent1 .main_company_con .m_move_down_03 {transition-delay: 600ms;}
  #mainContent1 .main_company_con .m_move_down_04 {transition-delay: 900ms;}
  #mainContent1 .main_company_con .m_move_down_05 {transition-delay: 1200ms;}

  #mainContent1 .main_company_con.active .m_move_down {opacity:1; transform: translateY(0);}



    /* mainContent2 */
    .process_list li {height:200px;}
    .process_list li strong {font-size: 17px;}
    .process_list li strong em {font-size: 13px;}
  
    /* mainContent3 */
    .main_develop_txt {padding-left:4%; margin-left:5%;}
    .main_develop_txt_inner {padding-left:10%;}
    .main_develop_txt .develop_prd_img {left:-8%; width: 15%;}
    .main_develop_txt_inner .txt_01 {width: 45%; font-size: 60px; padding-right:2%;}
    .main_develop_txt_inner .txt_02 {width: 48%; font-size: 15px;}
    .main_develop_li_02 .txt_01 {width:38%; font-size: 30px;}
    .main_develop_li_02 .txt_02 {width: 55%;}
    .main_develop_li_02 .develop_prd_img {left:-7%; width: 14%;}
    .main_develop_li_03 .main_develop_txt_inner {padding-left:0;}
    .main_develop_li_03 .txt_01 {width: 100%;}
    .develop_more_btn {position:absolute; top:-40px; right:-40px; width: 80px; height: 80px;  border-radius: 50%;}
    .develop_more_btn i {line-height:80px; font-size: 25px;}


  /* mainContent4 */
  
    .consult_div {width: 100%; max-width:740px; height: auto;}
    .main_contact_inner div {float:none; width: 100%; height:auto}
    .main_contact_inner .info {margin-right:0}
    .information input,
    .information select { width: calc(100% - 130px);}
    .main_contact_inner .info .contact_privacy_con {position:static; margin-top:20px; height: 40px; padding: 0; }
  

    .contact_btn {position:static; margin-top:30px;}

      /* footer */
  .footer_inner {padding:0 15px; padding-bottom:30px;}

  .footer_top {width: 100%;}

  .footer_bottom {height: auto}
  .footer_bottom .tit {margin-bottom:15px;}

  .footer_information {width: 50%;}
  .footer_information ul li span { width:70px;}
  .footer_contact {width: 50%;}
  .footer_location {width: 100%; margin-top:30px}
  .footer_location ul li span {display:block; width:100%; margin-bottom: 5px;}

  .footer_copyright p {font-size: 11px;}
  } /* @media all and (min-width:1024px) and (max-width:1339px) */