/* d_laptop.css */

@media all and (min-width:1024px) and (max-width:1339px) {
  /* 기준 디바이스 크기 : 1024px */
  #wrap {min-width:1024px; min-height:100vh;}
  .header_gnb_menu {width: 600px;}
  .header_gnb_menu > li > a {padding:0 20px;}

  /* #mainVisual */
  .visual_slider_btn {position:absolute; left:5%; bottom:100px; z-index:99; width: 220px; height: 100px;}
  .visual_slider_btn button {width: 100px; height: 100px; border-radius:50px; }
  .visual_slider_btn .next {float:right; background-color: var(--main_02);}
  .visual_slider_btn .prev {float:left; background-color: var(--main_01);}
  .visual_slider_btn button i {font-size: 25px; color:#fff}
  
  .visual_slider {width: 100%; height: 850px;}
  .visual_slider_wrap {position:relative; width: 100%; height: 100%;}
  .visual_slide_li {position:absolute; top:0; left:0; width: 100%; height: 100%;}
  .visual_slide_li .visual_txt_area {position:absolute; top:50%; margin-top:-200px; width: 100%;}
  .visual_txt_area .visual_txt_inner {width: 100%; max-width:1360px; margin:auto; padding-left:30px; box-sizing: border-box; text-transform: uppercase;}
  .visual_txt1 {margin-bottom:25px; font-size: 15px; line-height:1.4; font-weight: 900; text-transform: uppercase; letter-spacing: 7px;}
  .visual_txt2 {font-size: 80px; font-weight: 900; line-height:85px; letter-spacing: 0.5px;}
  .visual_txt2 em {font-style: normal;}
  .visual_slide_li:nth-child(2) .visual_txt_inner {color:#fff}
  .more_view_btn {position:absolute; top:20.5%; left:80%; margin-left: -356px;}
  .visual_prd_con {position:absolute; top:50%; left:0%; margin-top:-200px; width: 100%;  }
  .visual_prd_inner {width: 100%; max-width: 1360px; margin:auto; text-align: right;}
  .visual_slide_li .visual_img {width: 100%; height: 100%;}
  .visual_slide_li:first-child .visual_img {background : url('../../images/main/main_visual/main_visual_01.jpg') no-repeat 80% top;}
  .visual_slide_li:nth-child(2) .visual_img {background : url('../../images/main/main_visual/main_visual_02.jpg') no-repeat 80% top;}
      
  .visual_slide_li:last-child {display: none;}

  /* main_company_con */
  /* mainContent1_left */
  .mainCon1_left {float:left; width: 40%; height: 100%;}
  .mainCon1_left .company_inner {width: 100%; height: 100%; background: url('../../images/main/main_con01/main_con01_img01.jpg') 70% center no-repeat;}
  .company_inner .txt_con {padding:45px; width:100%; box-sizing: border-box;}
  .company_inner .txt_con p>br{display: none;}
  .mainCon1_left .company_inner .txt_con {color:#fff}
  .company_inner .txt_con p {font-size: 24px; line-height: 30px; font-weight: 600; letter-spacing: -0.25px;}
  .mainCon1_left .company_inner .txt_con .middle_line {margin:15px 0;  background-color: #fff;}
  .company_inner .txt_con li {font-size: 15px; font-weight: 400; letter-spacing: -0.5px; line-height: 32px;}

  /* mainContent1_right */
  .mainCon1_right {float:right; width: 60%; height: 100%; background-color: #555; }
  .up_con div {float:left;width: 100%;}
  .mainCon1_right .company_inner {width: 100%; height: 175px;}
  .up_con1 .company_inner {width: 100%; background: url('../../images/main/main_con01/main_con01_img04.jpg') right center no-repeat;}
  .up_con1 .company_inner .txt_con p,
  .up_con1 .company_inner .txt_con span {font-size:20px; font-weight:500; line-height:30px; letter-spacing: -0.5px; color:#fff}
  .up_con2 .company_inner {background-color: #fff;}
  .up_con2 .company_inner .txt_con .middle_line {margin:15px 0; background-color: var(--main_02);}
  .company_inner .txt_con li {float:left; width: 50%;}

  .down_con div {float:right; width: 100%;}
  .down_con1 .company_inner {width: 100%; height: 175px; background-color: #fff;}
  .down_con1 .company_inner .txt_con {padding:20px 45px;}
  .down_con1 .company_inner .txt_con li {font-size: 15px; line-height:1.6;}
  .down_con1 .company_inner .txt_con .middle_line {margin:15px 0; background-color:var(--main_01)}
  .down_con2 .company_inner {width: 100%; height: 175px; background: url('../../images/main/main_con01/main_con01_img05.jpg') center no-repeat;}

    /* mainContent2 */
    .main_tit {width: 100%; height:30px; font-size: 30px; font-weight: 900; text-align: center;}
    .main_sub_tit {width: 100%; height: 30px; margin-top:15px; margin-bottom:85px; font-weight: 600;
      text-align: center; letter-spacing: -0.25px; }
    .main_process_con {width: 100%; height: 250px;}
    .process_list {position:relative;}
    .process_line {position:absolute; top:50%; left:0; display:block; content:''; width: 100%; height:1px; background-color:var(--gray_02); }
    .process_m_line {display:none; position:absolute; bottom:25%; margin-top:0; margin-bottom:-10px; content:''; width: 100%; height:1px; background-color:var(--gray_02);}
    
    .process_list ul {width: 92%; padding:0 4%;}
    .process_list li {float:left; position:relative; width:12.5%; height:200px; text-align: center;}
    .process_list li .icon {position:absolute; top:0; left:0; width: 100%;}
    .process_list li .icon img {width: 40px; height: 40px;}
    .process_list li .dot {position:absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); width: 9px; height: 9px; border-radius:9px; background-color: var(--gray_02);}
    .process_list li strong {position:absolute; bottom:0; left:0; display: inline-block; width: 100%; font-size: 17px; letter-spacing: -0.5px; font-weight: 400;}
    .process_list li strong em {font-size: 13px;}
  
    /* process_list .active */
    .process_list .active .icon {margin-top:-30px; transition-property:margin-top; transition-duration:1000ms; transition-timing-function: ease;}
    .process_list .active .dot {background-color: var(--main_02);}
    .process_list .active .dot:before,
    .process_list .active .dot::before {position:absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); content:''; width: 15px; height: 15px; border-radius: 15px; border : 1px solid var(--main_02) }

    /* mainContent3 */
  #mainContent3 {position:relative; width: 100%; height:auto; padding-top:190px; box-sizing: border-box; overflow-x: hidden;}
  .main_develop_tit {width: 80%; margin:auto; padding-left:12%; margin-bottom:30px; font-size: 20px; font-weight: 600; line-height:30px; }

  .main_develop_con {position:relative; width: 80%; height: 350px; margin:auto }
  .main_develop_button {position:absolute; top:50%; transform:translateY(-50%); width: 100%;}
  .main_develop_button button {font-size: 35px; z-index:99;}
  .main_develop_button .next {float:right}
  .main_develop_button .prev {float:left}
  .main_develop_txt {position:absolute;
    width: 80%; top:72%;}
  .main_develop_txt li {z-index:99; height: auto; background-color: var(--background); }
  .main_develop_txt .develop_prd_img {position: absolute; width: 15%; bottom:0;}
  .main_develop_txt_inner {padding: 40px 0 0 150px; }
  .main_develop_txt_inner p {display: inline-block; height: 100%;vertical-align: top;}
  .main_develop_txt_inner .txt_01 {width: 42%; font-size: 60px; font-weight: 900; letter-spacing: -0.25px;}
  .main_develop_txt_inner .txt_02 {line-height : 1.8; width: 50%; font-size: 15px; letter-spacing: -0.5px; font-weight: 500; word-break:keep-all;}
  .main_develop_li_02 .main_develop_txt_inner {padding-top:60px;}
  .main_develop_li_02 .txt_01 {width:30%; font-size: 30px; }
  .main_develop_li_02 .txt_02 {width: 60%}
  .main_develop_li_03 .main_develop_txt_inner {padding-left:65px; padding-top:40px;}
  .main_develop_li_03 .txt_01 {display:block; width: 100%; text-align: left;}
  .develop_more_btn {position:absolute; top:-40px; right:-40px; width: 80px; height: 80px; border-radius: 50%; text-align:center; color: #fff; background-color: var(--main_02);}
  .develop_more_btn i {line-height:80px; font-size: 25px;}
  .main_develop_wrapper {position:absolute; left:50%; transform:translateX(-50%); margin:auto; width: 300%;}
  .develop_slide {float:left; width: 28%; height: 100%; margin:0 2.65%;}
  .develop_slide .develop_img {width: 100%; height: 100%;}
  .develop_slide .develop_img img {width: 100%; height: 100%;}

  /* mainContent3 .active */
  .main_develop_txt li {display: none;}
  .main_develop_txt .active {display: block;}

  /* mainContent4 */
  
    .consult_div {width: 100%; max-width:740px; height: auto; margin:auto;}
    .main_contact_tit {font-size: 30px; font-weight: 600; letter-spacing: -0.75px; text-align: center;}
    #contact_form {width: 100%; margin-top:50px}
    .main_contact_inner {width: 100%;}
    .main_contact_inner div {float:none; width: 100%; height:auto}
    .main_contact_inner .info {position:relative; margin-right:1%}
    .main_contact_inner .info li {width: 100%; height: 40px; border-bottom:1px solid #aaa; margin-bottom:25px;}
    .main_contact_inner .info li:last-child {margin-bottom:0;}
    .information label {float:left; width: 125px; line-height:40px;}
    .information label span {font-size: 15px; font-weight: 400;}
    .information input,
    .information select {float:right; width: calc(100% - 130px); height:40px; font-size: 15px;
      line-height:40px; color:#aaa}
      .information input {text-indent:10px;}
      .information select {text-indent:5px;}
      .information input::placeholder {font-size: 15px; color:#aaa}
    .main_contact_inner .info .contact_privacy_con {position:static; margin-top:20px; width: 100%; height: 40px; padding: 0; box-sizing: border-box; }
    .contact_privacy_con .contact_privacy_ex {float:left; width: 150px; height: 40px; padding:0 10px;
      box-sizing: border-box; border:1px solid #333;
      font-size: 13px; line-height:40px; text-align: center;}
    .contact_privacy_con .contact_privacy_ex span {display: inline; margin-right:10px;}
  
    .contact_privacy_con .contact_check_btn {float:right; width: 250px; height: 40px; line-height: 40px;}
    .contact_check_btn label {display:block; width: 100%; height:40px; text-align: right; }
    .contact_check_btn label i {margin-left:10px;}
    .privacy_agree {width: 100px;}
    .contact_check_btn input[id="privacy_agree"] {display: none;}
    .contact_check_btn input[id="privacy_agree"]:checked + label {color:var(--main_02)}
  
    .main_contact_inner .qna {position:relative; margin:0; margin-top:20px;}
    .qna .tit {font-size: 15px; font-weight: 400; padding-bottom:15px;}
    #qna_content { padding:20px; box-sizing: border-box;
      width: 100%; height: 210px; resize:none; color:#aaa; font-size: 15px; font-family: 'Noto Sans KR'}
    textarea[id="qna_content"]::placeholder {font-size: 15px; color:#aaa; font-family: 'Noto Sans KR';}
    .contact_btn {
      position:static; margin-top:30px;
      width: 100%; height:60px; font-size: 15px; text-align: center;
      font-weight:600; color:#fff; background-color: #222;}

      /* footer */
  .footer_inner {position:relative; padding:0 15px; padding-bottom:30px; box-sizing: border-box;}

  .footer_top {width: 100%; height: 30px; margin-bottom:35px;}
  .footer_top li {float:left; padding-right:30px;}
  .footer_top li:last-child {padding:0;}
  .footer_top li a {font-size: 13px; letter-spacing: -0.25px; font-weight: 400;}
  .footer_top li a b {color:var(--main_02)}

  .footer_bottom {width: 100%; height: auto}
  .footer_bottom div {float:left; height:100%}
  .footer_bottom .tit {margin-bottom:15px; font-size: 13px; font-weight: 900;text-transform: uppercase;}
  .footer_information {width: 50%;}
  .footer_information ul li {margin-bottom:15px; font-size: 13px; font-weight: 400; letter-spacing: 0.25px; line-height:1.2; word-break: keep-all;}
  .footer_information ul li span {display:inline-block; width:70px; color:#aaa}
  .footer_contact {width: 50%;}
  .footer_contact ul li {margin-bottom:15px; font-size: 13px; font-weight: 400; letter-spacing: 0.25px; line-height:1.2; word-break: keep-all;}
  .footer_contact ul li span {display:inline-block; width:20px; color:#aaa}
  .footer_contact ul li a {display:inline-block; color:#222;}
  .footer_location {width: 100%; margin-top:30px}
  .footer_location ul li {margin-bottom:15px; font-size: 13px; font-weight: 400; letter-spacing: 0.25px; line-height:1.2; word-break: keep-all;}
  .footer_location ul li span {display:block; width:100%; margin-bottom: 5px; color:#aaa}

  .footer_copyright {margin-top:30px; width: 100%;}
  .footer_copyright p {font-size: 11px; letter-spacing: 0.25px; font-weight: 400;}
  .footer_copyright p b {color:var(--main_02)}
  } /* @media all and (min-width:1024px) and (max-width:1339px) */