

.clearfix:after,
.clearfix::after {
  content: ""; display: block; width: 100%; height:0; clear: both;
}

.none {display: none;}

.first_margin > li:first-child {margin-left:0;}
.last_margin > li:last-child {margin-right:0}

.blind_area a {
  display: block; width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.blind_area a>span,
.blind_area button>span,
.blind {display: block; position:absolute;
z-index: -1; width: 0; height: 0; overflow: hidden;}

.fc-green {color:var(--main_01)}
.fc-blue {color:var(--main_02)}

.middle_line {display: inline-block; width: 30px; height: 2px;  margin:20px 0;}

#banner {width: 100%; height: 480px; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;}
#banner .banner_txt_con {
  position:relative; display:table; width: 100%; max-width:1320px; height:100%;
  margin:auto; text-align:left; color:#fff;}
#banner .table_cell_layout {padding-top:100px; display:table-cell; width: 100%; vertical-align: middle;}
#banner .banner_sub_txt {font-size: 15px; letter-spacing: 7px; font-weight: 500; padding-bottom:25px; text-transform: uppercase;}

#banner .banner_tit {font-size: 80px; font-weight: 900; letter-spacing: 0.5px;}
#banner .location {overflow:hidden; padding-top:50px;}
#banner .location ul li {display:inline-block; font-size: 15px;}
#banner .location .first_route:before {display: inline-block; content:">"; vertical-align: middle; margin:0 18px 0 20px; font-family: "Nanum Gothic"; color:#fff; font-size: 15px;}