@charset "UTF-8";
/* business_development.css */

@import url("../common/a_wrap.css");
@import url("../common/page/b_header_sub.css");
@import url("../common/page/b_footer_sub.css");

@media all {
  #wrap {min-width:320px;}
  #banner {
    background-image: url("../../images/business/sub_visual_business.jpg");
  }

  .tabmenu {position: relative;
    padding-top: 80px; 
  }

  .develop_tab {
    position: absolute;
    top: 0; left: 0; width: 100%; max-width: 1100px;
    margin: 0 auto; z-index: 10;
  }
  .develop_tab.fixed {position:fixed; top:0; max-width: none; overflow: visible; background-color: #fff; border-bottom:1px solid var(--main02)}
  
  .develop_tab_list_m {display: none;}

  .develop_tab ul {text-align: center;}

  .develop_tab li {float: left; position: relative; width: 25%; margin-left: -1px;}

  .develop_tab li:first-child {margin-left: 1px }

  .develop_tab li a { height: 78px; line-height: 78px;
    letter-spacing: -0.5px; background-color: #fff;
    border: 1px solid #c2c2c2; border-bottom: 1px solid var(--main_02);
  }

  .develop_tab li.on {z-index: 1;}

  .develop_tab li.on a {border-color: var(--main_02); border-bottom-color: #fff}


  .develop_con01_01 {padding-top: 120px; }

  .develop_tit {text-align: center; padding-bottom: 50px;}

  .develop_tit .tit01 {font-size: 20px; font-weight: 300; padding-bottom: 15px; }

  .develop_tit .tit02 {
    position: relative; display: inline-block;
    font-size: 42px; line-height: 1.2;
    font-weight: 500; letter-spacing: -0.5px;
  }

  .develop_tit .dot {
    position: absolute;
    top: -8px; right: -15px; display: block;
    width: 8px; height: 8px; border-radius: 50%;
  }

  .develop_tit .dot.red {background-color: #f0362a;}

  .develop_tit .dot.green {background-color: #39722e;}

  .develop_tit .dot.blue {background-color: #8190e5;}

  .develop_video {
    position: relative; padding-bottom: 56%;
    max-width: 100%; height: 0; box-sizing: border-box;
  }

  .develop_video iframe {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
  }

  .develop_con01_02 {
    margin-top: -150px; min-height: 1000px;
    background: #fff url("../../images/business/develop/develop_con01_bg.png") center top no-repeat;
  }

  .develop_con01_02 .max_area {padding-top: 300px;}

  .develop_product {
    position: relative; padding-top: 65%; margin: auto;
    width: 100%; max-width: 953px; height: 0;
    box-sizing: border-box;
  }

  .develop_product .con_tit {position: absolute; top: -25px; left: -15px; letter-spacing: -0.5px;}

  .develop_product .con_tit .en_tit {font-weight: 400; color: rgba(34, 34, 34, 0.4)}

  .develop_product .con_tit .ko_tit {padding-top: 10px; font-size: 36px; font-weight: 600; color: #f0362a}

  .develop_product .develop_img {position: absolute; top: 0; left: 0; width: 100%; height: auto;}

  .develop_product .develop_img img {width: 100%; height: 100%;}

  #develop2Con {padding-top: 120px}

  .develop_con02_img span {float: left; display: block; width: 50%; height: auto;}

  .develop_step_con {margin-top: 60px;}

  .develop_step_con li {float: left; width: 30%;}

  .develop_step_con li:nth-child(2) {margin: 0 5%}

  .develop_step_con li .num {
    float: left; width: 60px;
    line-height: 160px; font-style: italic; font-size: 75px;
    font-weight: 600; letter-spacing: -0.5px;
  }

  .develop_step_con .step_01 .num {color: rgba(57, 114, 46, 0.2)}

  .develop_step_con .step_02 .num {color: rgba(57, 114, 46, 0.6)}

  .develop_step_con .step_03 .num {color: rgba(57, 114, 46, 1)}

  .develop_step_con li .line_txt {
    float: left; position: relative;
    width: calc(100% - 67px); border: 1px solid #e7e7e7; border-radius: 15px;
  }
  .develop_step_con li .line_txt:before,
  .develop_step_con li .line_txt::before {
    position:absolute; top:80px; right:-20%; content:'';
    width: 20%; height: 1px; background-color: #e7e7e7;
  }
  .develop_step_con li:last-child .line_txt:before,
  .develop_step_con li:last-child .line_txt::before {display:none}

  .develop_step_con .line_txt .line_inner {
    display: table; width: 100%; height: 166px;
  }
  .develop_step_con .line_txt .line_inner p {
    display: table-cell; vertical-align: middle; padding:40px; font-size: 18px; line-height:1.6; font-weight: 400; letter-spacing: -0.5px; word-break: keep-all;
  } 

  #develop3Con {padding-top: 120px;}
  .develop_con03 {
    position:relative; width: 100%; height: 745px;
    background: url("../../images/business/develop/develop_con03_bg.jpg") center no-repeat; background-size: cover;}
  .develop_con03_img {
    position:absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); display:block; width: 100%; max-width: 1100px; height: 632px;
  }
  .mobile_img {display: none;}

  #develop4Con {padding-top: 120px;}
  .develop_sub_txt {padding-top: 30px; padding-bottom: 80px;
  font-size: 30px; font-weight: 500; letter-spacing: -0.5px;}
  .spatula_long_img {width: 100%; height: auto; }
  .spatula_slice_img {margin:30px 0; width: 1130px; }
  .spatula_slice_img span {margin:0 15px; height:auto;}
  .spatula_slice_img span img {width: 100%; height:100%;}
  .spatula_slice_img span:first-child {float:left; width: 425px;}
  .spatula_slice_img span:last-child {float:right; width: 645px;}

  .develop_con04_02 {padding-top: 75px;}
  .develop_con04_02 .develop_sub_txt {padding-bottom:0;}
  .develop_con04_img {margin-top: 30px; position:relative; width: 100%; height: 801px;}
  .develop_con04_img img {position:absolute; top:0; left:50%; transform: translateX(-50%); width: 1920px; height: 100%;}
  .develop_con04_img img.moblie_img {display: none;}
}

@media all and (max-width:1023px) {
  #develop1Con {padding-top: 90px;}
  .tabmenu {padding-top: 0;}
  .develop_tab {display: none;}
  .develop_tab_list_m {display: block; position:relative; padding-top: 50px;}
  .develop_tab_m {position: absolute; top:0; left:0; right:0; width: 100%; z-index: 99;}
  .develop_tab_m.fixed {position: fixed; top:75px; width:calc(100% - 30px); margin:0 auto;}
  .develop_tab_m a:hover {background-color: #ace;}
  .m_open_btn {position: relative; width: calc(100% - 32px); padding:0 15px; height: 48px; display: inline-block; vertical-align: middle; line-height: 48px; background-color: #fff; font-weight: 400; font-size: 13px; border:1px solid var(--main_02)}
  .m_open_btn span {display: inline;}
  .m_open_btn .fa-angle-down {float:right; position:absolute; top:15px; right: 15px; font-size: 20px;}
  .develop_tab_m .tab_list_wrapper {
    display:none;
    overflow: hidden; margin:0; width: 100%; position: absolute; top:49px; left:0;
    border:1px solid var(--main_02); border-top-color: #f4f4f4; background-color: #f4f4f4;
    z-index: 20; padding:18px 0; box-sizing: border-box;
  }
  .develop_tab_m .tab_list_wrapper li a {line-height: 1; padding:10px 15px; font-weight: 400; font-size: 13px;}

  .develop_tit {padding-bottom: 25px;}
  .develop_tit .tit01 {font-size: 15px; padding-bottom: 5px;}
  .develop_tit .tit02 {font-size: 26px; line-height:1.2}
  .develop_tit .dot {top:-4px; right:-7px; width: 4px; height: 4px;}

  .develop_con01_02 {margin-top: 0; min-height:300px;
  background: #fff url("../../images/business/develop/develop_con01_bg.png") 
  center 50% no-repeat;}
  .develop_product {position:static; padding-top: 0; height:auto}
  .develop_product .con_tit {position: static;}
  .develop_product .develop_img {position: static; margin-top: 50px;}
  .develop_product .con_tit .en_tit {font-size: 13px;}
  .develop_product .con_tit .ko_tit {padding-top: 10px;font-size: 23px;}
  .develop_step_con li .line_txt:before, .develop_step_con li .line_txt::before {display: none;}

  #develop2Con {padding-top: 90px; margin-top: -80px;}
  .develop_con02_img span {width: 100%;}
  .develop_step_con {margin-top: 25px;}
  .develop_step_con li {width: 100%;}
  .develop_step_con li:nth-child(2) {margin: 0; margin-top: 35px;}
  .develop_step_con li:nth-child(3) {margin: 0; margin-top: 35px;}
  .develop_step_con li .num {float:none; display:inline-block; width: 45px; font-size: 37px; line-height:1; vertical-align: middle;}
  .develop_step_con li .line_txt {position:static; display: inline-block; float:none; width:calc(100% - 80px); vertical-align: middle;}
  .develop_step_con .line_txt .line_inner p {padding:25px; font-size: 14px; word-break: keep-all;}
  .develop_step_con .line_txt .line_inner p br {display: none;}
  .develop_step_con .line_txt .line_inner {height:auto;}

  #develop3Con {padding-top: 90px;}
  .develop_con03 {padding:30px 0;}
  .develop_con03 .pc_img {display: none;}
  .mobile_img {display: block;}

  #develop4Con {padding-top: 90px;}
  .develop_sub_txt {padding-top: 5px; padding-bottom: 35px; font-size: 20px;}

  .develop_con04_02 {padding-top: 60px;}
}

@media all and (max-width:1120px) {
  .develop_con03 {position:static; height:auto; padding:60px 0;}
  .develop_con03_img {position:static; padding:0 15px; width:calc(100% - 30px); top:10%; left:0; margin:0; height:auto; transform:none;}
  .spatula_slice_img span {position:relative; width:58%; margin: 0 1%; height:0;padding-top: 48%;}
  .spatula_slice_img span img {position:absolute; top:0; left: 0;}
  .spatula_slice_img {width:100%; margin:0; margin-top: 10px;}
  .spatula_slice_img span:first-child {width: 38%;}
  .spatula_slice_img span:last-child {width: 58%;}

  .develop_con04_img {position: static; width: 100%; height:auto;}
  .develop_con04_img .pc_img {display:none}
  .develop_con04_img img.moblie_img {display: block;}
  .develop_con04_img img {position:static; left: 0; transform:none; width: 100%; height: 100%;}
}