@charset "UTF-8";
/* company_ceo.css */

@import url("../common/a_wrap.css");
@import url("../common/page/b_header_sub.css");
@import url("../common/page/b_footer_sub.css");

@media all {
  #wrap {min-width:320px;}
  #banner {background-image: url("../../images/company/sub_visual_company.jpg");}

  .company_top_img {position:relative; height:547px; background: url("../../images/company/ceo/ceo_top_img.jpg") center no-repeat; background-size: cover;}
  .company_top_img_m {display: none;}
  .top_txt_box {position: absolute; bottom:0; left:0; padding:56px 90px 20px 40px; box-sizing: border-box; background-color: #f9f9f9;}
  .top_txt_box > div {float:left}
  .top_txt {padding-left:50px; }
  .top_txt p {line-height:26px; letter-spacing: -0.5px; color:#666; font-weight: 300;}
  .ceo_con_area {margin-top:100px;}
  .circle_img_m {display: none;}
  .ceo_circle {position:relative; padding:0 15px;}
  .circle_img img {width: 100%;}
  .ceo_circle_list {position:absolute; width: 100%; height:100%; top:0; left:0; text-align: center;}
  .ceo_circle_list li {display: inline-block; width:23%; height:100%;}
  .ceo_circle_list li:first-child {margin-left:-10px;}
  .ceo_circle_list li:nth-child(3) {margin-left:10px;}
  .ceo_cir_wrap {display:table; width: 100%; height: 100%;}
  .ceo_cir_inner {display:table-cell; vertical-align: middle; text-align: center;}
  .ceo_cir_tit {font-size: 20px; letter-spacing: -0.5px;}
  .ceo_cir_txt {font-size: 13px; letter-spacing: -0.5px; color:#aaa; margin-top: 15px;}

  .ceo_info {margin-top:100px;}
  .ceo_info_list {width: 100%;}
  .ceo_info_list li {float:left; width: 33.33%; height:100%; padding:20px 0; border-left:1px solid #ddd; box-sizing: border-box; text-align: center;}
  .ceo_info_list li:first-child {border-left:0;}
  .ceo_info_tit {font-size: 13px; letter-spacing: -0.5px; color:#aaa; margin:35px 0 15px;}
  .ceo_info_txt {font-size: 20px; letter-spacing: -0.5px;}

  .ceo_tbl {width: 100%; margin-top: 80px; border-top:2px solid #666}
  .ceo_tbl tbody td:first-child {border-right:1px solid #ddd;}
  .ceo_tbl tbody td {letter-spacing: -0.5px; font-weight: 300; height: 77px; padding-left:3%; border-bottom:1px solid #ddd; vertical-align: middle;}

  .ceo_factory {margin-top: 80px; width: 100%;}
  .ceo_factory_tit {position:relative; font-size: 24px; line-height:49px; letter-spacing: -0.25px; padding-left:60px;}
  .ceo_factory_tit:before {
    position:absolute; left:0; display: block; 
    content: ""; width: 49px; height: 49px; background: url("../../images/company/ceo/ceo_icon_04.png") no-repeat;}
  .ceo_factory_box {margin-top:20px; width: 100%;}
  .ceo_factory_box img {width: 100%;}
  .factory_left {float:left; width: 50%;}
  .factory_right {float:right; width: 50%;}
  .factory_right ul {width: 100%;}
  .factory_right ul li {float:left; width: 46%; margin:0 2% 18px; }

  /* modal_pop_up */
  .modal_pop_wrapper {
    display:none;
    position:fixed; top:0; left:0; width: 100%; height: 100%; z-index:1100; background-color: rgba(0,0,0,0.8);}

  .modal_pop_inner {position:relative; top:50%; transform:translateY(-50%); width: 96%; max-width: 1000px; min-height:200px; max-height:600px;  margin:20px auto; background-color: #fff;}

  .modal_pop_wrapper h1 {height: 60px; line-height: 60px; font-size: 24px; font-weight: 600; letter-spacing: -0.5px; text-align: center; background-color: var(--main_02); color:#fff}
  .modal_close_btn {position:absolute; top:11px; right:10px; font-size: 30px; color:#fff; z-index:1; cursor: pointer;}
  .modal_close_btn:hover {color:#222}
  .sitemap_wrapper, .footer_inner_box {padding:30px;}
  .footer_modal_con p {font-size: 13px;}
  .editor .footer_inner_box {height:300px;}
  .editor .footer_inner_box p {height:auto; max-height:100%; overflow-y: scroll;padding:30px; box-sizing:border-box; padding:30px; border:1px solid #eee; line-height:1.6; word-break: keep-all; }
  .footer_modal_con.privacy p {line-height:2;}
  .footer_modal_con.privacy a {color:blue}
  .footer_modal_con.privacy a:hover {text-decoration: underline;}

  .sitemap_wrapper > ul > li {float:left; width: 20%; text-align: center;}
  .sitemap_wrapper > ul > li > h2 {margin:0 2% 20px 2%; padding-bottom:20px; border-bottom:1px solid #888; letter-spacing:-1px; font-weight: 500; text-transform: uppercase;}
  .sitemap_2dep {padding:0 5%;}
  .sitemap_2dep a {padding:10px 0; color:#666; font-size: 13px; font-weight: 400; line-height:1.2}
  .sitemap_2dep a:hover {color:#222; text-decoration: underline;}
}

@media all and (max-width:767px){
  #banner {height: 250px;}
  #banner .banner_sub_txt {font-size: 11px; padding-bottom: 10px;}
  #banner .banner_tit {font-size: 50px; letter-spacing: -0.25px;}
  #banner .location {display: none;}

  #sideMenu {height:60px;}
  #sideMenu .side_menu_inner {padding:0;}
  #sideMenu .side_menu_inner .snb {width: 100%; padding-right:0}
  #sideMenu .snb li {width:50%; margin:0; text-align: center;}
  #sideMenu .snb li.on {position:relative;}
  #sideMenu .snb li a {width: 100%; padding:0; height: 58px; font-size: 15px;line-height:60px; letter-spacing: -0.5px; font-weight: 400; border-bottom:2px solid #e5e5e5;}

  #sideMenu .snb .on {border-bottom:none}
  #sideMenu .snb .on a:before {position:absolute; bottom:0; left:50%; margin-left:-25px; display: block; content:''; width: 50px; height: 2px; background-color: var(--main_02);}

  #content {padding-bottom: 0;}
  .sub_page {padding:45px 0 150px;}
  .company_top_img {height:auto; position:relative; background: none; }
  .company_top_img_m {display: block;}
  .company_top_img_m img {max-width: 100%;}
  .top_txt_box {position:static; padding:30px 15px; display: table; height:125px;}
  .top_txt_box > .top_logo {width: 25%; text-align: center; float:none; display: table-cell; vertical-align: middle;}
  .top_txt_box > .top_logo img {max-width: 100%;}
  .top_txt_box > .top_txt {float:none; padding-left:5%;}
  .top_txt p {font-size: 13px; line-height:20px; word-break: keep-all;}
  .top_txt p br {display: none;}

  .max_area {padding: 0 15px;}
  .circle_img {display: none;}
  .circle_img_m {display:block; text-align: center;}
  .circle_img_m img {max-width: 478px; width: 100%;}

  .ceo_info {margin-top: 50px;}
  .ceo_info_list li {padding : 20px 5px;}
  .ceo_info_tit {font-size: 12px; margin:15px 0 10px}
  .ceo_info_txt {font-size: 15px; line-height: 18px; word-break: keep-all;}

  .ceo_tbl {margin-top: 40px;}
  .ceo_tbl tbody td:first-child {width: 25%;}
  .ceo_tbl tbody td {font-size: 13px; height: 50px; line-height: 16px; padding:0 10px; word-break: keep-all;}

  .ceo_factory {margin-top: 40px;}
  .ceo_factory_tit {font-size: 17px; line-height:34px; padding-left:40px}
  .ceo_factory_tit:before {width: 34px; height: 34px; background-size: cover;}
  .ceo_factory_box {margin-top: 20px;}
  .factory_left {float:none; width: 100%;}
  .factory_right {float:none; width: 100%; margin-top: 10px;}
  .factory_right ul li {margin:0 1% 10px; width: 48%}
}

@media all and (min-width:768px) and (max-width:1120px){
  .ceo_circle_list li:first-child {margin-left: 0;}
  .max_area {padding:0 15px}
}