@charset "UTF-8";
/* contact.css */

@import url("../common/page/a_wrap.css");
@import url("../common/page/b_header_sub.css");
@import url("../common/page/b_footer_sub.css");

@media all {
  #banner {background-image: url("../../images/contact/sub_visual_contact.jpg");}
  #content {padding:125px 0 200px; background: url("../../images/common/sub_page/sub_con_cm_bg.jpg") center bottom no-repeat;}
  .consult_div {max-width:530px; margin:auto;}
  .main_contact_tit {font-size: 30px; font-weight: 600; letter-spacing: -0.7px; text-align: center;}
  .main_contact_inner {margin-top:50px;}
  .main_contact_inner div {width: 100%;}
  .information li {width: 100%; height: 40px; margin-bottom:25px; border-bottom:1px solid #ddd}
  .information li span {display:inline-block; width: 120px; vertical-align: middle; font-size: 15px; font-weight: 400;}
  .information li input {display:inline-block; text-indent:10px; padding:0; height: 40px; width: calc(530px - 130px); color: #aaa; font-size: 15px; vertical-align: middle;}
  .information li select {padding-left:10px; height: 100%; font-size: 15px; color:#aaa;}

  .qna {margin-top:35px; width: 100%;}
  .qna .tit {font-size: 15px; font-weight: 400; padding-bottom:15px;}
  #qna_content {width: 100%; padding: 20px; box-sizing: border-box; height: 210px; resize: none; color:#aaa; font-size: 15px; background-color: var(--background);}
  .contact_privacy_con {margin-top:10px; width: 100%; height: 60px; line-height: 60px;}
  .contact_privacy_con .contact_privacy_ex {float:left; margin-top:10px; width: 150px; height: 40px; padding:0 10px;
    box-sizing: border-box; border:1px solid #333;
    font-size: 13px; line-height:40px; text-align: center;}
  .contact_privacy_con .contact_privacy_ex span {display: inline; }

  .contact_privacy_con .contact_check_btn {float:right; width: 300px; height: 60px; line-height: 60px; font-size: 15px;}
  .contact_check_btn label {display:block; width: 100%; height:40px; text-align: right; }
  .contact_check_btn label i {margin-left:10px; font-size: 20px;}
  .privacy_agree {width: 100px;}
  .contact_check_btn input[id="privacy_agree"] {display: none;}
  .contact_check_btn input[id="privacy_agree"]:checked + label {color:var(--main_02)}
  .contact_btn {margin-top:5px; width: 100%; height: 60px; font-size: 15px; font-weight: 600; color:#fff; background-color: #222;}
}